AddDefaultCharset utf-8

DirectoryIndex index.php index.html

Options -Indexes
Options +FollowSymlinks

RewriteEngine Off
#RewriteCond %{HTTP_HOST} !^www\.(.*) [NC]
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{REQUEST_URI} !^(/img|/media|/kcaptcha|/debug/upload|/admin|/index.php|/favicon.ico|/cron|/pma|/sitemap.txt|/sitemap.xml|/robots.txt|/swf|/redirects.php|/xxs.php|/storage|/yandex*)
RewriteRule ^(.+)$ /index.php?url=$1 [L,QSA]

<ifModule mod_expires.c>
    ExpiresActive On
    # по умолчанию кеш в 5 секунд
    ExpiresDefault "access plus 5 seconds"
    # кэшировать флэш и изображения на месяц
    ExpiresByType image/x-icon "access plus 2592000 seconds"
    ExpiresByType image/jpeg "access plus 2592000 seconds"
    ExpiresByType image/png "access plus 2592000 seconds"
    ExpiresByType image/gif "access plus 2592000 seconds"
    ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
    # кэшировать css, javascript и текстовые файлы на одну неделю
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 604800 seconds"
    ExpiresByType application/javascript "access plus 604800 seconds"
    ExpiresByType application/x-javascript "access plus 604800 seconds"
    # кэшировать html и htm файлы на один день
    ExpiresByType text/html "access plus 43200 seconds"
    # кэшировать xml файлы на десять минут
    ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>

